* {
	font-family: Arial, Helvetica, sans-serif;
}

/*              */
/*  index.html  */
/*              */

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.container > div:nth-of-type(1) {
	display: flex;
	flex-direction: row;
}

#titleBar div {
	flex-grow: 1;
	padding: 10px;
	margin: 0;
}

#highScoreDiv {
	text-align: left;
}

#timerDiv {
	text-align: right;
}

#gameBoard {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

/*                  */
/* dynamic content  */
/*                  */

/*
#contentArea {
	display: grid;
}

#intro {
	flex-grow: 1;
}
*/

/*          */
/*  Quiz    */
/*          */
.question {
	list-style: none;
	background: #b319eb;
	color: #ffffff;
	width: 30%;
	padding: 5px;
	margin: 2px auto;
}

#messageArea {
	font-style: italic;
	font-size: large;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

@media (max-width: 768px) {
	#gameBoard {
		width: 90%;
	}
}
