* {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.container > div:nth-of-type(1) {
	display: flex;
	flex-direction: row;
}

#titleBar div {
	flex-grow: 1;
	padding: 10px;
	margin: 0;
}

#highScoreDiv {
	text-align: left;
}

#timerDiv {
	text-align: right;
}

#contentArea {
	/* display: grid; */
}

#intro {
	flex-grow: 1;
}

.question {
	display: none;
}

#1 {
	display: block;
}
