* {
	font-family: Arial, Helvetica, sans-serif;
}

/*              */
/*  index.html  */
/*              */
.container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.container > div:nth-of-type(1) {
	display: flex;
	flex-direction: row;
}

#titleBar div {
	flex-grow: 1;
	padding: 10px;
	margin: 0;
}

#highScoreDiv {
	text-align: left;
}

#timerDiv {
	text-align: right;
}

#gameBoard {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

#buttonStart,
#buttonReset,
#buttonScore {
	background: #b319eb;
	border-radius: 5px;
	border: 0px solid #b319eb;
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	padding: 6px 6px;
	margin-top: 6px;
	margin-bottom: 6px;
	text-decoration: none;
}

#messageArea {
	width: 50%;
	margin: 0 auto;
	text-align: left;
	font-style: italic;
	font-size: large;
}

.correct {
	border-top: 2px solid #959393;
	color: green;
}

.incorrect {
	border-top: 2px solid #959393;
	color: red;
}

/*          */
/*  Quiz    */
/*          */
.question-container {
	text-align: left;
}

.question-container ul {
	padding-left: 0;
}

.question {
	list-style: none;
	background: #b319eb;
	color: #ffffff;
	border-radius: 5px;
	border: 0px solid #b319eb;
	width: 30%;
	padding: 6px 6px;
	margin: 2px 0 2px 0;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

.question:hover {
	background-color: #840c8a;
}

.question:active {
	position: relative;
	top: 1px;
}

/*              */
/*  gameOver    */
/*              */

#initialsContainer label {
	padding: 5px;
}

#buttonScore {
	background: #b319eb;
	color: #ffffff;
	border: 0px solid #b319eb;
	border-radius: 5px;
	padding: 6px 6px;
	margin-top: 6px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

#tableScores {
	margin: 0 auto;
}

@media (max-width: 768px) {
	#gameBoard,
	#messageBoard {
		width: 90%;
	}
}
